body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header,
.header-row {
    background-color: #1f2937;
    color: #e5e7eb;
}

header {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-row {
    margin: 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.header-row > .container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.header-row > .container > .content-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
    gap: 24px;
    align-items: flex-start;
}

#header-title {
    font-size: 48px;
    font-weight: 600;
}

#header-body {
    font-size: 18px;
}

#header-image {
    width: 500px;
}

#sign-up-button {
    border: none;
    padding: 8px 24px;
    color: #e5e7eb;
    border-radius: 5px;
    background: #3882f6;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle > img {
    max-width: 400px;
}

.header > button {
    width: 80px;
}

.section-one {
}

.section-two {
    background-color: #e5e7eb;
    color: #1f2937;
}

.section-three {
}

footer {
    display: flex;
    background-color: #1f2937;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 80px;
}
