* {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  color: #ffffff;
}

.section-two {
  background-color: #e5e7eb;
  color: #1f2937;
}

footer {
  background-color: #1f2937;
  color: #ffffff;
}
